@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1660px;
  --background: #ffffff;
  --foreground: #05141f;
  --mint-900: #70d7bf;
  --cubic-bezier-primary: cubic-bezier(1, 0, 0.2, 1);
  --btn-xlg2: 56px;
  --midnight-100: #cdd0d2;
  --line-height-sm: 1.4;
}
@media (max-width: 743px) {
  :root {
    font-size: 14px;
    --header-height: 56px;
    --px-lg: 24px;
    --h1-height: 124px;
    --h1-fsize: 24px;
    --h1-fsize-sm: 14px;
    --heading-info: 16px;
    --heading-2: 20px;
    --heading-2-margin: 48px 0 16px;
    --btn-xlg2: 40px;
    --tab-fsize: var(--font-size);
    --px-md: 16px;
    --px-lg: 24px;
    --btn-md: 36px;
    --btn-xxlg: 72px;
    --space-md: 16px;
    --search-bar-width: 400px;
    --faq-list-a-size: 16px;
    --faq-list-q-padding: 16px 0;
    --faq-list-padding-v: 16px;
    --ic-md: 24px;
    --ic-lg: 32px;
    --ic-xlg: 40px;
    --ic-xlg2: 32px;
    --space-box2: 120px;
    --side-padding: 24px;
    --bottom-padding: 80px;
    --footer-height: 284px;
    --list-more-size: 14px;
  }
}
@media (min-width: 744px) and (max-width: 1023px) {
  :root {
    font-size: 16px;
    --header-height: 56px;
    --px-lg: 32px;
    --h1-height: 160px;
    --h1-fsize: 40px;
    --h1-fsize-sm: 14px;
    --heading-2: 24px;
    --heading-2-margin: 48px 0 24px;
    --heading-info: 18px;
    --btn-xlg2: 48px;
    --tab-fsize: var(--font-size);
    --px-md: 16px;
    --px-lg: 32px;
    --btn-md: 44px;
    --btn-xxlg: 80px;
    --space-md: 24px;
    --search-bar-width: 400px;
    --faq-list-q-padding: 24px 24px;
    --faq-list-padding-v: 24px;
    --ic-md: 28px;
    --ic-lg: 32px;
    --ic-xlg: 48px;
    --ic-xlg2: 48px;
    --space-box2: 120px;
    --side-padding: 48px;
    --bottom-padding: 80px;
    --footer-height: 296px;
    --list-more-size: 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  :root {
    font-size: 18px;
    --header-height: 80px;
    --px-lg: 40px;
    --h1-height: 192px;
    --h1-fsize: 48px;
    --h1-fsize-sm: 16px;
    --heading-2: 24px;
    --heading-2-margin: 48px 0 24px;
    --btn-xlg2: 56px;
    --tab-fsize: 20px;
    --heading-info: 20px;
    --px-md: 20px;
    --ic-lg: 48px;
    --btn-md: 48px;
    --btn-xxlg: 80px;
    --space-md: 24px;
    --search-bar-width: 480px;
    --faq-list-a-size: 18px;
    --faq-list-q-padding: 24px 32px;
    --faq-list-padding-v: 18px;
    --ic-md: 32px;
    --ic-xlg: 48px;
    --ic-xlg2: 56px;
    --space-box2: 160px;
    --side-padding: 48px;
    --bottom-padding: 80px;
    --footer-height: 176px;
    --list-more-size: 18px;
  }
}
@media (min-width: 1440px) {
  :root {
    font-size: 18px;
    --header-height: 80px;
    --px-lg: 48px;
    --h1-height: 222px;
    --h1-fsize: 56px;
    --h1-fsize-sm: 18px;
    --heading-2: 24px;
    --heading-2-margin: 64px 0 24px;
    --btn-xlg2: 56px;
    --tab-fsize: 20px;
    --heading-info: 24px;
    --px-md: 24px;
    --px-lg: 48px;
    --btn-md: 48px;
    --btn-xxlg: 80px;
    --space-md: 32px;
    --search-bar-width: 480px;
    --faq-list-a-size: 20px;
    --faq-list-q-padding: 32px 40px;
    --faq-list-padding-v: 24px;
    --ic-md: 32px;
    --ic-lg: 48px;
    --ic-xlg: 56px;
    --ic-xlg2: 64px;
    --space-box2: 160px;
    --side-padding: 48px;
    --bottom-padding: 96px;
    --footer-height: 176px;
    --list-more-size: 18px;
  }
}
@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareL.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareB.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquare';
  src: url('/fonts/NanumSquareEB.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: 'NanumSquare', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
body.open {
  overflow: hidden;
  height: 100vh;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  padding: 0 48px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1660px;

  a {
    height: 100%;
    &.logo {
      width: 160px;
      display: block;
      height: 100%;
      font-size: 0;
      display: flex;
      align-items: center;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
  nav {
    flex: 1 1;
    height: 100%;
    ul {
      // display: flex;
      // justify-content: flex-end;
      // height: 100%;
      // align-items: center;
      li {
        margin: 0 16px;
        // height: 100%;
        a {
          display: block;
          font-size: 18px;
          font-weight: bold;
          line-height: 80px;
          position: relative;
          &:after {
            content: '';
            background-color: var(--mint-900);
            bottom: 0;
            opacity: 0.4;
            width: 0;
            height: 4px;
            left: 0;
            position: absolute;
            transition: width 0.4s var(--cubic-bezier-primary);
          }
          &:hover:after {
            content: '';
            width: 100%;
          }
        }
        &.active a:after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
.container-area {
  min-height: calc(100vh - (80px - 176px));
  overflow: hidden;
  padding: 0 var(--side-padding) var(--bottom-padding);
  margin: 0 auto;
  .content {
    margin: 0 auto;
    max-width: 1240px;
    h1 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: var(--h1-height);
      text-align: center;
      font-size: var(--h1-fsize);
      font-weight: bold;
      p {
        font-size: var(--h1-fsize-sm);
        margin-top: 20px;
        font-weight: 400;
      }
    }
    h2 {
      font-size: var(--heading-2);
      margin: var(--heading-2-margin);
      font-weight: bold;
    }
    ul.tab-menu {
      display: flex;
      margin-bottom: var(--px-lg);
      li {
        flex: 1 1;
        min-height: var(--btn-xlg2);
        border: 1px solid var(--midnight-100);

        button {
          color: block;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          background: white;
          color: black;
          justify-content: center;
          border: none;
          font-size: var(--tab-fsize);
          cursor: pointer;
        }
        &.active {
          border: 1px solid black;
          font-weight: 600;
          button {
            background: black;
            color: white;
            font-weight: bold;
          }
        }
      }
    }

    form {
      .input-area {
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        margin-bottom: var(--px-md);
        padding: var(--px-md);

        div {
          border: 1px solid #05141f;
          background: white;
          height: var(--btn-xlg2);
          width: var(--search-bar-width);
          position: relative;
          input {
            font-size: 1rem;
            border: none;
            padding-left: 16px;
            height: 100%;
            width: 100%;
            &::placeholder {
              color: #b4b9bc;
              font-weight: 400;
            }
            &:focus {
              outline-width: 0;
            }
          }
          button {
            border: none;
            background: none;
            height: 100%;
            align-items: center;
            display: flex;
            font-size: 0;
            width: 54px;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            transform: scale(1);
            &:hover {
              transform: scale(1.1);
            }
            img {
              width: 32px;
              height: 32px;
              object-fit: contain;
            }
          }
        }
      }
    }
    .data-info {
      display: flex;
      justify-content: space-between;
      margin: var(--px-md) 0;
      p {
        font-weight: bold;
        font-size: var(--heading-info);
        strong {
          color: var(--mint-900);
        }
      }
      .reset {
        display: flex;
        align-items: center;
        background: none;
        font-size: 16px;
        border: none;
        padding: 0 4px;
        img {
          width: 24px;
          height: 24px;
          margin-right: 2px;
        }
      }
    }
    .sub-tab-list {
      ul.sub-tab-list-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--px-md);
        > li {
          height: var(--btn-md);
          display: flex;
          align-items: center;
          border-radius: 22px;

          button {
            font-size: var(--tab-fsize);
            border: none;
            background: none;
            align-items: center;
            display: flex;
            font-weight: 600;
            justify-content: center;
            letter-spacing: -0.4px;
            padding: 0 14px;
            cursor: pointer;
          }
          &.active {
            background: var(--mint-900);
            button {
              color: #fff;
            }
          }
        }
      }
      .list-more {
        align-items: center;
        display: flex;
        font-size: var(--list-more-size);
        height: var(--btn-xlg2);
        justify-content: center;
        margin-top: calc(var(--px-lg) - 8px);
        width: 100%;
        i {
          &:before {
            content: '';
            background-color: #05141f;
            height: 2px;
            left: 0;
            position: absolute;
            top: calc(50% - 1px);
            width: 100%;
          }
          &:after {
            content: '';
            background-color: #05141f;
            height: 2px;
            left: 0;
            position: absolute;
            top: calc(50% - 1px);
            width: 100%;
          }
        }
      }
    }

    .sub-tab-data {
      border-top: 2px solid #05141f;
      button {
        cursor: pointer;
        padding: 18px 0;
        display: flex;
        font-size: var(--faq-list-a-size);
        padding: var(--faq-list-padding-v) 0;
        align-items: center;
        .toggle-area {
          span {
            display: inline-block;
            width: 200px;
            text-align: center;
            color: #697278;
            + span {
              color: #697278;
              width: 160px;
              text-align: center;
            }
          }
          strong {
            flex: 1 1;
          }
        }

        &:hover {
          text-decoration: none;
        }
        &[data-state='open'] {
          background-color: #f8f8f8;
        }
        & + svg {
          font-size: 32px;
        }
      }

      .toggle-text {
        border-top: 1px solid #e6e8e9;
        font-size: 1rem !important;
        line-height: 1.8;
        padding: var(--faq-list-q-padding);
      }
      .no-data {
        border-bottom: 1px solid #cdd0d2;
        border-top: 2px solid #05141f;
        padding: var(--space-box2) 0;
        text-align: center;
        color: #697278;
        img {
          display: block;
          height: var(--ic-xlg2);
          margin: 0 auto 16px;
          width: var(--ic-xlg2);
        }
      }
    }
  }
}
.inquiry-area {
  display: flex;
  margin: 0 calc(var(--space-md) * -1 / 2);
  // gap: 10px;
  a {
    height: var(--btn-xxlg);
    min-height: var(--btn-xxlg);
    flex: 1 1;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    border: 1px solid #05141f;
    margin: 0 calc(var(--space-md) / 2);
    img {
      height: var(--ic-lg);
      margin-right: 8px;
      width: var(--ic-lg);
    }
    em {
      color: #697278;
      display: block;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
    }
  }
}
.process-area {
  counter-reset: li;
  display: flex;
  line-height: 1.4;
  line-height: var(--line-height-sm);

  li {
    flex: 1 1;
    padding: 0 24px;
    img {
      display: block;
      height: var(--ic-xlg);
      margin-bottom: 8px;
      width: var(--ic-xlg);
    }
    div {
      position: relative;
      strong {
        display: block;
        font-size: 18px;
      }
      em {
        color: #37434c;
        display: block;
        font-size: 16px;
        margin-top: 8px;
        font-style: normal;
      }
    }

    &:not(:first-child) > div:before {
      background: url('/images/icon_step.svg') no-repeat;
      background-size: auto 100%;
      content: '';
      height: 24px;
      left: -36px;
      position: absolute;
      top: 0;
      width: 24px;
    }
  }
}
.app-area {
  background-color: #f8f8f8;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 48px;
  overflow: hidden;
  padding: 32px;
  h2 {
    font-size: 24px;
    line-height: 1.4;
    margin: 0 0 24px 0 !important;

    text-align: center;
    width: 100%;
    em {
      color: var(--mint-900);
      font-style: normal;
    }
  }
  a {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    justify-content: center;
    margin: 0 8px;
    width: 296px;
    img {
      height: 28px;
      margin-right: 4px;
      width: 28px;
    }
  }
}
footer {
  background-color: #05141f;
  color: #82898f;
  padding: 0 var(--side-padding);
  position: relative;
  .footer-area {
    display: flex;
    font-size: 14px;
    height: var(--footer-height);
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1660px;
    max-width: var(--max-width);
    .link {
      display: flex;
      color: white;
      button {
        font-size: var(--font-lg);
      }
    }
  }
  address {
    span,
    em,
    i {
      display: inline-flex;
      font-style: normal;
    }
    a {
      text-decoration: underline;
    }
  }
}

// 팝업
.modal-contents {
  text-align: center;
  p {
    margin-top: 35px;
  }
  button {
    border: 1px solid black;
    font-size: 18px;
    height: 52px;
    min-width: 7.5em;
    margin-top: var(--px-md);
  }
}

// 미디어쿼리
@media (max-width: 743px) {
  .container-area .content h2 {
    // margin-bottom: 4px;
    line-height: var(--line-height-sm);
  }
  .inquiry-area {
    flex-direction: column;
    a {
      justify-content: flex-start;
      padding: 0 1.4em;
      font-size: 16px;
      &:not(:first-child) {
        margin-top: 12px;
      }
    }
  }
  .process-area li {
    div {
      strong {
        font-size: 16px;
      }
      em {
        font-size: 14px;
        margin-top: 4px;
      }
    }
    img {
      margin: 0 12px 0 0;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .app-area a {
    font-size: 14px;
    height: 48px;
    margin: 12px 0 0;
    max-width: 264px;
    width: 100%;
  }

  footer {
    .footer-area {
      flex-direction: column;
      padding-top: 18px;
      padding-bottom: 29px;
    }
    .link button {
      margin-right: 16px;
      line-height: 48px;
    }
    address {
      br:nth-of-type(5) {
        display: none;
      }
      span {
        margin-right: 12px;
        font-size: 12px;
      }
    }
    p {
      font-size: 12px;
    }
    img {
      height: 32px;
      margin-bottom: 1px;
    }
  }
}
@media (min-width: 744px) and (max-width: 1023px) {
  .container-area .content h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .inquiry-area {
    flex-wrap: wrap;
    a:last-child {
      min-width: calc(100% - var(--space-md));
      margin-top: var(--space-md);
    }
  }
  .process-area {
    li {
      &:not(:first-child) {
        margin-top: 24px;
      }
      img {
        margin: 0 16px 0 0;
      }
    }
  }

  footer {
    .footer-area {
      flex-direction: column;
      padding-bottom: 44px;
      padding-top: 34px;
      line-height: var(--line-height);
      .link button {
        line-height: 52px;
        margin-right: 24px;
      }
    }
    address {
      span {
        margin-right: 12px;
      }
      br:first-of-type,
      br:nth-of-type(3),
      br:nth-of-type(5) {
        display: none;
      }
    }
    img {
      height: 48px;
    }
  }
}
@media (max-width: 1023px) {
  header {
    nav {
      bottom: 0;
      display: flex;
      flex-direction: column;
      left: -100%;
      margin-left: 0;
      padding: 0 var(--side-padding);
      position: fixed;
      top: var(--header-height);
      transition: margin-left 0.8s var(--cubic-bezier-primary);
      width: 100%;
      background-color: #fff;

      ul {
        margin-top: 80px;
        li {
          a {
            color: #000;
            display: block;
            font-size: 24px;
            font-weight: 600;
            line-height: 56px;
            margin-bottom: 8px;
            text-align: center;

            &:after {
              content: '';
              display: none;
            }
            &:hover:after {
              content: '';
              display: none;
            }
          }
          &.active {
            a {
              color: var(--mint-900);
            }
            a:after {
              content: '';
              display: none;
            }
          }
        }
      }
    }
    .sm-menu-box {
      display: flex;
      flex: 1 1;
      justify-content: flex-end;
      margin-right: -8px;
      button {
        background-image: linear-gradient(
          transparent 9px,
          #000 0,
          #000 11px,
          transparent 0
        );
        background-position: 0;
        background-repeat: no-repeat;
        border: 10px solid transparent;
        display: inline-block;
        position: relative;
        transition: background-position 0.4s var(--cubic-bezier-primary);
        font-size: 0;
        height: 40px;
        width: 40px;
        &:before,
        &:after {
          background-color: #000;
          content: '';
          height: 2px;
          left: 0;
          position: absolute;
          -webkit-transform-origin: 50%;
          transform-origin: 50%;
          transition: transform 0.6s var(--cubic-bezier-primary);
          width: 100%;
        }
        &:before {
          top: 3px;
        }
        &:after {
          bottom: 3px;
        }
      }
    }
  }
  .open header {
    nav {
      margin-left: 100%;
      ul {
      }
    }
    button {
      background-position: 30px 0;
      &:before {
        transform: translateY(6px) rotate(-45deg) scaleX(1.2);
      }
      &:after {
        transform: translateY(-6px) rotate(45deg) scaleX(1.2);
      }
    }
  }
  .container-area .content .sub-tab-data button .toggle-area {
    flex-wrap: wrap;
    span {
      align-items: center;
      display: flex;
      font-size: calc(1em - 4px);
      line-height: 1.6;
      margin: 0 0 4px;
      padding: 0;
      width: auto !important;
      & + span:before {
        content: '';
        width: 16px;
        height: 16px;
        margin: 0 4px;
        background: url('/images/icon_arrow.svg') no-repeat;
        background-size: auto 100%;
        transform: rotate(-90deg);
        opacity: 0.3;
      }
    }
  }

  .process-area {
    flex-direction: column;
    li {
      display: flex;
      padding: 0 !important;
      &:not(:first-child) > div:before {
        display: none;
      }
    }
  }
  // footer address span {
  //   margin-left: 12px;
  // }
}
@media (min-width: 1440px) {
  .app-area {
    margin-top: 64px;
    padding: 40px;
    h2 {
      margin-bottom: 32px;
      font-size: 32px;
    }
    a {
      width: 392px;
      height: 64px;
      margin: 0 16px;
      font-size: 18px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
@media (min-width: 744px) {
  footer {
    // --font-md: 14px;
    // --font-lg: 16px;
    --line-height: 24px;
  }
}
@media (min-width: 1024px) {
  header {
    nav {
      ul {
        display: flex;
        justify-content: flex-end;
      }
    }
    .sm-menu-box {
      display: none;
    }
  }
  footer {
    .footer-area {
      flex-direction: row-reverse;
      align-items: center;
      .link {
        justify-content: flex-end;
        margin-bottom: 10px;
        button {
          margin-left: 24px;
          line-height: var(--line-height);
        }
      }
      address {
        text-align: right;

        br:nth-of-type(1),
        br:nth-of-type(2),
        br:nth-of-type(3),
        br:nth-of-type(4),
        br:nth-of-type(5) {
          display: none;
        }
      }
      .copyright:before {
        height: 56px;
        margin-bottom: 2px;
      }
    }
    p {
      img {
        height: 56px;
        margin-bottom: 2px;
      }
    }
  }
}
